.crop-img{
  max-height:150px;
  max-width:100%;
  margin-bottom: 10px;
}

.large-img{
  max-width:100%;
  margin-top: 10px;
}

#backward, #forward{
	margin-top:110px;
}

#bigImage{
	display: block;
	margin-left: auto;
	margin-right: auto;
}


.gallery{
    display: block;
    margin: auto;
}

.logo{
	width: 30%;
}

.pokemon-name{
    width: auto;
    display: block;
    text-align: center;
    font-weight: bold;
}